<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wykon.intime">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/stop_watch"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.GameActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_game"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.ResultActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_result"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.TimeUpActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_time_up"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.RulesActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_rules"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.SettingsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_settings"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.NewGameActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_new_game"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.TeamActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_team"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.PlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_add_player"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.FavoritesActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_favorites"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.WordListsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_word_list"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.WordListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_word_list"
            android:theme="@style/FullscreenTheme"></activity>
    </application>

</manifest>